span.active {
	margin: 1rem auto 0 auto;
	width: 2rem;
	height: 0.2rem;
	background: white;
	display: block;
	text-align: center;
}

.separator-w100 {
	background: var(--hint);
	width: 100%;
	height: 1px;
}
// Button :

.btn-opacity {
	padding: 1.3rem 2rem;
	// margin: 0 1rem 0 1rem;
	border-radius: 3rem;
	&:hover {
		background: rgba(255, 255, 255, 0.2);
	}
}

.btn {
	padding: 1rem 2rem;
	border-radius: 1rem;
	border: 0;
	&.btn-light {
		background: white;
		&:hover {
			background-color: var(--hover);
		}
	}
	&.btn-dark {
		background: black;
		border: 1px solid white;
		color: white;
		&:hover {
			background-color: rgba(255, 255, 255, 0.3);
		}
	}
}

// Images :

.card {
	border-radius: 1.6rem;

	img {
		width: 100%;
		border-radius: 1.6rem 1.6rem 0 0;
	}
}

// Modals :

.calc {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	// background: red;
	filter: blur(1);
	display: flex;
	justify-content: center;
	align-items: center;
}
.pos-relative {
	position: relative;
}
.modal {
	min-width: 25rem;
	border-radius: 1.4rem;
	box-shadow: var(--box-shadow);
	background: white;
	section {
		padding: 0 3rem 0 1.5rem;
	}

	/* 	margin-right: 0;
	margin-left: 0; */

	.bold {
		font-weight: 700;
	}
	p {
		color: var(--text);
		cursor: pointer;
		font-size: 1.4rem;
	}

	a {
		color: var(--text);
	}
	i {
		min-width: 2rem;
		text-align: center;
		font-size: 1.6rem;
	}
	&.modal-small {
		position: absolute;

		top: 6rem;
		right: 0;
	}
	&.modal-big {
		min-width: 80vh;
		height: 80vh;
	}
	.fa-times {
		color: var(--text);
		font-size: 2rem;
		padding: 2rem;
		cursor: pointer;
	}
	h3 {
		margin: 2rem 0;
	}
}
