* {
	--bgd: #f7f7f7;
	--hint: #bdc3c7;
	--hover: #ebebeb;
	--dark-card: #222222;
	--airbnb: #ff385c;
	--box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
	--text: #484848;
	--radius: 12px;
	--border: 1px solid rgb(221, 221, 221);
	// --font-family: "Roboto", sans-serif;
	--font-family: "Open Sans", sans-serif;
}
